/* ===========================
   Gallery
=========================== */

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    margin-top:30px;
}

.item{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.4s;
    position:relative;
    cursor:pointer;
}

.item:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(255,105,180,.35);
}

.item img{
    width:100%;
    height:250px;
    object-fit:cover;
    display:block;
    transition:.5s;
}

.item:hover img{
    transform:scale(1.08);
}

.item h3{
    padding:18px 20px 8px;
    color:#ff4fa0;
}

.item p{
    padding:0 20px 20px;
    line-height:1.7;
}

/* Overlay */

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:250px;
    background:rgba(255,105,180,.55);

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    color:white;

    opacity:0;

    transition:.4s;
}

.item:hover .overlay{
    opacity:1;
}

.overlay h2{
    font-size:40px;
    margin-bottom:10px;
}

.overlay p{
    color:white;
    font-size:18px;
    padding:0;
}
